h1 {
    color: purple;
    text-align: center;
}
#div1 {
    width: 500px;
    height: 80px;
    background-color: #FFE8E8;
    margin-left: 20px;
}
#p1 {
    color: #FF0000;
    font-size: 30px;
    padding-top: 24px;
    padding-right: 40px;
    padding-bottom: 24px;
    padding-left: 40px;
    gap: 10px;
}
#div2 {
    width: 850px;
    height: 100px;
    margin-left: 20px;
}
#p2 {
    font-size: 35px;
    padding-top: 24px;
    padding-right: 40px;
    padding-bottom: 24px;
    padding-left: 40px;
    gap: 10px;
    border-left: 4px brown solid;
    border-right: 4px blue solid;
    border-bottom: 2px purple solid;
    border-top: 2px green solid;
    color: #85647B;
    text-align: center;
}
#div3 {
    width: 950px;
    height: 140px;
    background-color: #FFE8E8;
    margin-left: 20px;
    margin-top: 70px;
}
#p3 {
    font-size:35px;
    padding-top:24px;
    padding-right:40px;
    padding-bottom:24px;
    padding-left:40px;
    text-align: center;
}
span {
font-size: 40px;
color: #FF4405;
}
#div4 {
    width: 900px;
    height: 90px;
    border: 2px #3538CD solid;
    margin-top: 40px;
    margin-left: 20px;
}
#p4 {
    font-size: 30px;
    text-align: center;
    color: #0064CE;
}
#img {
    margin-top: 30px;
    margin-left: 20px;
    width: 400px;
}